<p>Full credit for visualization work goes to Mark Markoh (<a href="https://twitter.com/markmarkoh">@markmarkoh</a>).</p>
<p>I, David Baker (<a href="https://twitter.com/acorncom">@acorncom</a>), mainly shifted things into Ember as a quick experiment to see how easy it was to use D3 and Ember.</p>

<p>Useful links:</p>
<ul>
  <li>
    <a target="_blank" href="http://neo.jpl.nasa.gov/cgi-bin/neo_ca?type=NEO&hmax=all&sort=dist&sdir=ASC&tlim=far_future&dmax=0.05AU&max_rows=500&fmt=full&action=Display+Table&show=1" class="sources">NEO Data Sources</a>
  </li>
  <li>
    <a target="_blank" href="https://github.com/markmarkoh/asteroids" class="git sources">Project Source Code</a>
  </li>
</ul>

<p>{{#link-to 'index'}}&lt;&lt; Back to the main page{{/link-to}}</p>
